# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\gusta\Documents\SchoolProjects\OOP CS 3560\ItoratorPattern\CS3560-IteratorPattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
